div{
    font-size: larger;

    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

div a{
    justify-content: center;

}
.nav{

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;

}

.nav div {
    gap: 40px;
    /* line-gap-override: ; */
}